$accent: #31c5b7;
$darkGrey: #707272;
$lightGrey: #dadcdd;
$black: #232323;
$white: #ffffff;

$raleway: 'Raleway', sans-serif;

a {
    text-decoration: none;
}

p,
ul,
h1,
h2,
h3,
h4 {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

