@import "setup";
@import "typography";

/*  GENERAL STYLES */
html {
    font-size: 62.5%;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    color: $black;
    font-family: $raleway;
}

body { 
    font-size: 2.5vh;
    line-height: 1.6;
    background-color: $accent;
}

.btn {
    display: block;
    margin: 0 auto;
}

.landing-page {
    text-align: center;
    .btn,
    .location-input {
        width: 250px;
        padding: 5px 10px;
        text-align: center;
        text-transform: uppercase;
    }
    .location-input {
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .search {
        background: black;
        border: none;
        color: white;
    }
}


.search-result {
    box-shadow: 0px 2px 4px $darkGrey;
    border-radius: 5px;
    background-color: white;
    width: 70%;
    padding: 30px;
    margin: 25px auto;
    position: relative;
}

.job-title {
    font-size: 2rem;
}


.job-time {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: bold;
}

.more-info,
.apply-now {
    background: $black;
    color: white;
    text-transform: uppercase;
    margin-right: 15px;
    padding: 5px 10px;
}

.icon-button {
    border: none;
    background: transparent;
}

.icon {
    height: 40px;
    width: auto;
}

.saved-button {
    position: absolute;
    right: 0;
    top: 30px;
}

.applied-button {
    position: absolute;
    right: 0;
    top: 80px;
}

.change-page {
    margin:  0 auto;
    background: $black;
    color: white;
    margin-right: 10px;
    padding: 5px 10px;
}